<!DOCTYPE html>
<html>
    <header>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="758290075776-i5a0a6680n51lo76p8qfignd0s5148jd.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" type="image/png" href="logo.png" />
    </header>
    <body style="background-color: #fcf6e9; text-align:center;">
        <div style="margin:auto;">
            <div style="height: 140px;">
                <table style="margin:auto;">
                    <tr>
                        <td><img src="logo.png" alt="logo" height="50px" width="50px"></td>
                        <td><h1 style="font-size: 45px;"><%= roomName %></h1></td>
                    </tr>
                </table>
                <hr class="chat-hr"/>
            </div>
            <br />
            <p id="roomID" style="display: none;"><%= roomID %></p>
            <p id="userID" style="display: none;"><%= userID %></p>
            <p id="fullName" style="display: none;"><%= fullName %></p>
            <p id="email" style="display: none;"><%= email %></p>
            <p id="appLink" style="display: none;"><%= appLink %></p>
            <p id="hasPassword" style="display: none;"><%= hasPassword %></p>
            <p id="alive" style="display: none;"><%= alive %></p>
            <p id="announcement"><%= announcement %></p>
            <div style="margin:auto;" id="gLogin" class="signin2 g-signin2" data-onsuccess="onSignIn" data-theme="light" data-width="250" data-height="50" data-longtitle="true"></div>
            <p id="invalid" style="display: none;">Invalid URL. Please rejoin room from rooms page. Redirecting in 5 seconds.</p>
            <div id="onLoginCon" style="display: none;">
                <p id="destroyed" style="display: none;">This room has been removed. Redirecting to rooms page in 5 seconds.</p>
                <textarea id="chatbox" rows="4" cols="50" readonly></textarea>
                <br />
                <br />
                <input class="inputClass" id="messagebox" onfocusout="notTyping()" onfocusin="typing()" style="width: 37.5%; min-width: 447px;" placeholder="Type your message..."/>
                <button class="buttonClass" id="sendBtn" type="button" onclick="send()">Send</button>
                <br />
                <br />
                <p id="participantsList"></p>
                <input class="inputClass" type="password" id="passwordbox" placeholder="Enter room password"/>
                <button class="buttonClass" id="validateBtn" type="button" onclick="validate()">Validate</button>
                <button class="buttonClass" type="button" onclick="goback()">Go Back</button>
                <button class="buttonClass" id="renameBtn" type="button" onclick="showRenameCon()">Edit Username</button>
                <div id="renameCon" style="display: none; margin: 0px 0px 500px 0px;">
                    <br />
                    <br />
                    <input  class="inputClass" id="nickname" style="margin: 0px 0px 5px 0px; width: 24.6%; min-width: 296px;" placeholder="Enter Nickname"/>
                    <br />
                    <button class="buttonClass" id="saveBtn" type="button" onclick="save()">Save</button>
                    <button class="buttonClass" id="cancelBtn" type="button" onclick="hideRenameCon()">Cancel</button>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript">
            var roomID = document.getElementById("roomID").innerHTML;
            var userID = document.getElementById("userID").innerHTML;
            var fullName = document.getElementById("fullName").innerHTML;
            var email = document.getElementById("email").innerHTML;
            var appLink = document.getElementById("appLink").innerHTML;
            var hasPassword = document.getElementById("hasPassword").innerHTML;
            var alive = document.getElementById("alive").innerHTML;
            var socket = io.connect(appLink);
            var validateListenerExists = false;

            if(document.getElementById("announcement").innerHTML == "") {
                $("#announcement").hide();
            }

            socket.on('connect', function(data) {
                if(alive == "false") {
                    onlyShowDestroyDialogue();
                }
                else if(hasPassword == "false") {
                    join();
                    document.getElementById("messagebox").focus();
                }
                else {
                    $("#chatbox").hide();
                    $("#messagebox").hide();
                    $("#sendBtn").hide();
                    $("#renameBtn").hide();
                    document.getElementById("passwordbox").focus();
                }
            });

            socket.on('destroy'+roomID, function(data) {
                onlyShowDestroyDialogue();
            });

            socket.on('announcement', function(newAnnouncement) {
                if(newAnnouncement == "") {
                    $("#announcement").hide();
                }
                else {
                    $("#announcement").show();
                }
                document.getElementById("announcement").innerHTML = newAnnouncement;
            });

            function onlyShowDestroyDialogue() {
                $("#chatbox").hide();
                $("#messagebox").hide();
                $("#sendBtn").hide();
                $("#passwordbox").hide();
                $("#validateBtn").hide();
                $("#renameBtn").hide();
                $("#participantsList").hide();
                $("#destroyed").show();
                setInterval(goback, 5000);
            }

            function join() {
                $("#chatbox").show();
                $("#messagebox").show();
                $("#sendBtn").show();
                $("#renameBtn").show();
                $("#passwordbox").hide();
                $("#validateBtn").hide();
                socket.emit('join', {"fullName": fullName, "roomID": roomID, 'userID': userID, 'email': email});
                socket.on('disperse'+roomID, function(data) {
                    var messages = document.getElementById("chatbox").value + data + "\n";
                    var chatbox = document.getElementById('chatbox'); 
                    chatbox.value = messages;
                    chatbox.scrollTop = chatbox.scrollHeight; 
                    //document.getElementById('chatbox').blur();
                    /* Audio link for notification */ 
                    if (document.hidden) {
                        var audio = new Audio("notif.mp3"); 
                        audio.volume = 0.3;
                        audio.play();
                    }
                });
                socket.on('enter'+roomID, function(data) {
                    var userIDs = Object.keys(data);
                    var userNames = "Active Users: <br />";
                    var i;
                    for(i = 0; i < userIDs.length; i++) {
                        userNames = userNames + data[userIDs[i]] + "<br />"
                    }
                    document.getElementById("participantsList").innerHTML = userNames;
                });
            }

            function send() {
                if(document.getElementById("messagebox").value != "") {
                    socket.emit('send', {"message": fullName + ": " + document.getElementById("messagebox").value, "roomID": roomID});
                    document.getElementById("messagebox").value = "";
                }
                document.getElementById("messagebox").focus();
                document.getElementById("sendBtn").blur();
            }

            function validate() {
                socket.emit('validate',{'roomID':roomID,'password':document.getElementById("passwordbox").value, 'userID':userID});
                if(!validateListenerExists) {
                    socket.on('connect'+userID, function(status) {
                        if(status != 'success') {
                            alert(status);
                            document.getElementById("passwordbox").value = "";
                        }
                        else {
                            join();
                        }
                    });
                    validateListenerExists = true;
                }
            }

            function save() {
                fullName = document.getElementById("nickname").value;
                socket.emit('rename', {"fullName": fullName, "roomID": roomID, 'userID': userID, 'email': email});
                $("#renameCon").hide();
            }

            function typing() {
                socket.emit('rename', {"fullName": fullName + " is typing...", "roomID": roomID, 'userID': userID, 'email': email});
            }

            function notTyping() {
                socket.emit('rename', {"fullName": fullName, "roomID": roomID, 'userID': userID, 'email': email});
            }

            function showRenameCon() {
                document.getElementById("nickname").value = fullName;
                document.getElementById("renameBtn").blur();
                $("#renameCon").show();
                window.scrollBy(0, 300);
                document.getElementById("nickname").focus();
            }

            function hideRenameCon() {
                $("#renameCon").hide();
            }

            function goback() {
                window.location.href=appLink;
            }

            function onSignIn(googleUser) {
                // Useful data for your client-side scripts:
                var profile = googleUser.getBasicProfile();
                $("#gLogin").hide();
                if(profile.getEmail() != email || email == undefined || email == 'undefined') {
                    socket.emit('leave', {'roomID':roomID, 'userID': userID});
                    onlyShowDestroyDialogue();
                    $("#invalid").show();
                }
                else {
                    $("#onLoginCon").show();
                }
            }

            document.addEventListener('visibilitychange', function() {
                if(document.visibilityState == "visible") {
                    document.getElementById("messagebox").blur();
                    socket.emit('rename', {"fullName": fullName, "roomID": roomID, 'userID': userID, 'email': email});
                }
                else {
                    socket.emit('rename', {"fullName": fullName + " is idle.", "roomID": roomID, 'userID': userID, 'email': email});
                }
                console.log(document.visibilityState);
            });

            window.addEventListener("beforeunload", function (e) {
                if($("#chatbox").is(':visible')) {
                    socket.emit('leave', {'roomID':roomID, 'userID': userID});
                }
            });

            $(window).keydown(function(e) {
                switch (e.keyCode) {
                    case 13:
                        if($("#chatbox").is(':hidden')) {
                            validate();
                        }
                        else {
                            send();
                        }
                        return;
                }
            });
        </script>
    </body>
</html>