<!DOCTYPE html>
<html>
    <header>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <title><%= roomName %></title>
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="758290075776-i5a0a6680n51lo76p8qfignd0s5148jd.apps.googleusercontent.com">
        <meta name="viewport" content="initial-scale=0.52, maximum-scale=0.52, user-scalable=no"/>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" type="image/png" href="logo.png" />
    </header>
    <body style="text-align:center; ">
        <div style="margin:auto;">
            <div style="height: 140px;">
                <table style="margin:auto;">
                    <tr>
                        <td><img src="logo.png" alt="logo" height="50px" width="50px"></td>
                        <td></td>
                        <td><strong><h1 style="font-size: 45px; color: white; text-shadow: 0 4px 6px rgba(143, 142, 142, 0.8);"><%= roomName %></h1></strong></td>
                    </tr>
                </table>
                <hr class="chat-hr"/>
            </div>
            <br />
            <p id="roomID" style="display: none;"><%= roomID %></p>
            <p id="userID" style="display: none;"><%= userID %></p>
            <p id="fullName" style="display: none;"><%= fullName %></p>
            <p id="email" style="display: none;"><%= email %></p>
            <p id="appLink" style="display: none;"><%= appLink %></p>
            <p id="hasPassword" style="display: none;"><%= hasPassword %></p>
            <p id="alive" style="display: none;"><%= alive %></p>
            <p class="pClass" id="announcement"><%= announcement %></p>
            <div style="margin:auto;" id="gLogin" class="signin2 g-signin2" data-onsuccess="onSignIn" data-theme="light" data-width="250" data-height="50" data-longtitle="true"></div>
            <p id="invalid" style="display: none;">Invalid URL. Please rejoin room from rooms page. Redirecting in 5 seconds.</p>
            <div class="pClass" id="onLoginCon" style="display: none;">
                <p class="pClass" id="destroyed" style="display: none;">This room has been removed. Redirecting to rooms page in 5 seconds.</p>
                <!--
                <textarea id="chatbox" rows="4" cols="50" readonly></textarea>
                <br />
                <br />
                -->
                <div id="messageContainer" class="messageCon" style="overflow:scroll; height: 300px; width: 50%; min-width: 600px; margin: 0 auto;">
                    <div class="message" style="display: none;" onclick="showDetails(this)">
                        <!--<p class="messageText" style="height: 10px; color: white; font-size: 16px; font-weight:bold; text-align:left;"></p>-->
                        <p class="messageText" style="height: 10px; color: white; font-size: 16px; font-weight:bold; text-align:left; text-shadow: 1px 2px 2px #8a719a;"></p>
                        <p class="messageSender" style="height: 10px; display: none; color: white; font-size: 12px; text-align:left;"></p>
                    </div>
                </div>
                <br />
                <hr class="chat-hr" id="lowerHr"/>
                <br />
                <input class="inputClass" id="messagebox" onfocusout="notTyping()" onfocusin="typing()" style="width: 37.5%; min-width: 447px;" placeholder="Type your message..."/>
                <button class="buttonClass" id="sendBtn" type="button" onclick="send()">Send</button>
                <br />
                <br />
                <p id="participantsList" class="pClass"></p>
                <input class="inputClass" type="password" id="passwordbox" placeholder="Enter room password"/>
                <button class="buttonClass" id="validateBtn" type="button" onclick="validate()">Validate</button>
                <button class="buttonClass" type="button" onclick="goback()">Go Back</button>
                <button class="buttonClass" id="renameBtn" type="button" onclick="showRenameCon()">Edit Username</button>
                <div id="renameCon" style="display: none; margin: 0px 0px 500px 0px;">
                    <br />
                    <br />
                    <input  class="inputClass" id="nickname" style="margin: 0px 0px 5px 0px; width: 24.6%; min-width: 296px;" placeholder="Enter Nickname"/>
                    <br />
                    <button class="buttonClass" id="saveBtn" type="button" onclick="save()">Save</button>
                    <button class="buttonClass" id="cancelBtn" type="button" onclick="hideRenameCon()">Cancel</button>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript">
            var roomID = document.getElementById("roomID").innerHTML;
            var userID = document.getElementById("userID").innerHTML;
            var fullName = document.getElementById("fullName").innerHTML;
            var email = document.getElementById("email").innerHTML;
            var appLink = document.getElementById("appLink").innerHTML;
            var hasPassword = document.getElementById("hasPassword").innerHTML;
            var alive = document.getElementById("alive").innerHTML;
            var socket = io.connect(appLink);
            var validateListenerExists = false;

            if(document.getElementById("announcement").innerHTML == "") {
                $("#announcement").hide();
            }

            socket.on('connect', function(data) {
                if(alive == "false") {
                    onlyShowDestroyDialogue();
                }
                else if(hasPassword == "false") {
                    join();
                    document.getElementById("messagebox").focus();
                }
                else {
                    //$("#chatbox").hide();
                    $("#messageContainer").hide();
                    $("#lowerHr").hide();
                    $("#messagebox").hide();
                    $("#sendBtn").hide();
                    $("#renameBtn").hide();
                    document.getElementById("passwordbox").focus();
                }
            });

            socket.on('destroy'+roomID, function(data) {
                onlyShowDestroyDialogue();
            });

            socket.on('announcement', function(newAnnouncement) {
                if(newAnnouncement == "") {
                    $("#announcement").hide();
                }
                else {
                    $("#announcement").show();
                }
                document.getElementById("announcement").innerHTML = newAnnouncement;
            });

            function onlyShowDestroyDialogue() {
                //$("#chatbox").hide();
                $("#messageContainer").hide();
                $("#messagebox").hide();
                $("#sendBtn").hide();
                $("#passwordbox").hide();
                $("#validateBtn").hide();
                $("#renameBtn").hide();
                $("#participantsList").hide();
                $("#destroyed").show();
                setInterval(goback, 5000);
            }

            function join() {
                //$("#chatbox").show();
                $("#messageContainer").show();
                $("#messagebox").show();
                $("#sendBtn").show();
                $("#renameBtn").show();
                $("#passwordbox").hide();
                $("#validateBtn").hide();
                socket.emit('join', {"fullName": fullName, "roomID": roomID, 'userID': userID, 'email': email});
                socket.on('disperse'+roomID, function(data) {
                    /*
                    var messages = document.getElementById("chatbox").value + data["message"] + "\n";
                    var chatbox = document.getElementById('chatbox'); 
                    chatbox.value = messages;
                    chatbox.scrollTop = chatbox.scrollHeight; 
                    */
                    //document.getElementById('chatbox').blur();
                    /* Audio link for notification */ 
                    if (document.hidden) {
                        var audio = new Audio("notif.mp3"); 
                        audio.volume = 0.3;
                        audio.play();
                    }
                    var newMessage = $(".message").eq(0).clone().show();
                    $(".messageCon").append(newMessage);
                    newMessage.children(".messageText").eq(0).text(data["message"]);
                    newMessage.children(".messageSender").eq(0).text("Sent by " + data["email"]);
                    if(data["userID"] == userID) {
                        //newMessage.children(".messageText").eq(0).css('background-image', 'linear-gradient(to right, #ac93b2, #fcd0a1)');
                        newMessage.children(".messageText").eq(0).css('text-shadow','1px 2px 3px #925c29');
                    }
                    var messageContainer = document.getElementById("messageContainer");
                    messageContainer.scrollTop = messageContainer.scrollHeight;
                });
                socket.on('enter'+roomID, function(data) {
                    var userIDs = Object.keys(data);
                    var userNames = "Active Users: <br />";
                    var i;
                    for(i = 0; i < userIDs.length; i++) {
                        userNames = userNames + data[userIDs[i]] + "<br />"
                    }
                    document.getElementById("participantsList").innerHTML = userNames;
                });
            }

            function send() {
                if(document.getElementById("messagebox").value != "") {
                    socket.emit('send', {"message": fullName + ": " + document.getElementById("messagebox").value, "roomID": roomID, "email": email, "userID": userID});
                    document.getElementById("messagebox").value = "";
                }
                document.getElementById("messagebox").focus();
                document.getElementById("sendBtn").blur();
            }

            function showDetails(container) {
                if($(container).children(".messageSender").eq(0).is(':hidden')) {
                    $(container).children(".messageSender").eq(0).show();
                }
                else {
                    $(container).children(".messageSender").eq(0).hide();
                }
            }

            function validate() {
                socket.emit('validate',{'roomID':roomID,'password':document.getElementById("passwordbox").value, 'userID':userID});
                if(!validateListenerExists) {
                    socket.on('connect'+userID, function(status) {
                        if(status != 'success') {
                            alert(status);
                            document.getElementById("passwordbox").value = "";
                        }
                        else {
                            join();
                        }
                    });
                    validateListenerExists = true;
                }
            }

            function save() {
                fullName = document.getElementById("nickname").value;
                socket.emit('rename', {"fullName": fullName, "roomID": roomID, 'userID': userID, 'email': email});
                $("#renameCon").hide();
            }

            function typing() {
                /*
                const chatbox = document.getElementById('chatbox');
                chatbox.scrollIntoView({
                    behavior: "smooth",
                    block: "start",
                    inline: "center"
                });
                */
                const messageContainer = document.getElementById('messageContainer');
                messageContainer.scrollIntoView({
                    behavior: "smooth",
                    block: "start",
                    inline: "center"
                });
                window.scrollBy(0, -400); // Scroll 100px to the right
                const messagebox = document.getElementById('messagebox');
                messagebox.scrollIntoView(false);
                socket.emit('rename', {"fullName": fullName + " is typing...", "roomID": roomID, 'userID': userID, 'email': email});
            }

            function notTyping() {
                socket.emit('rename', {"fullName": fullName, "roomID": roomID, 'userID': userID, 'email': email});
            }

            function showRenameCon() {
                document.getElementById("nickname").value = fullName;
                document.getElementById("renameBtn").blur();
                $("#renameCon").show();
                window.scrollBy(0, 300);
                document.getElementById("nickname").focus();
            }

            function hideRenameCon() {
                $("#renameCon").hide();
            }

            function goback() {
                window.location.href=appLink;
            }

            function onSignIn(googleUser) {
                // Useful data for your client-side scripts:
                var profile = googleUser.getBasicProfile();
                $("#gLogin").hide();
                if(profile.getEmail() != email || email == undefined || email == 'undefined') {
                    socket.emit('leave', {'roomID':roomID, 'userID': userID});
                    onlyShowDestroyDialogue();
                    $("#invalid").show();
                }
                else {
                    $("#onLoginCon").show();
                }
            }

            document.addEventListener('visibilitychange', function() {
                if(document.visibilityState == "visible") {
                    document.getElementById("messagebox").blur();
                    socket.emit('rename', {"fullName": fullName, "roomID": roomID, 'userID': userID, 'email': email});
                }
                else {
                    socket.emit('rename', {"fullName": fullName + " is idle.", "roomID": roomID, 'userID': userID, 'email': email});
                }
                console.log(document.visibilityState);
            });

            var isOnIOS = navigator.userAgent.match(/iPad/i)|| navigator.userAgent.match(/iPhone/i);
            var eventName = isOnIOS ? "pagehide" : "beforeunload";

            window.addEventListener(eventName, function (e) {
                if($("#messageContainer").is(':visible')) {
                    socket.emit('leave', {'roomID':roomID, 'userID': userID});
                }
            });

            $(window).keydown(function(e) {
                switch (e.keyCode) {
                    case 13:
                        if($("#messageContainer").is(':hidden')) {
                            validate();
                        }
                        else {
                            if($("#messagebox").is(':focus')) {
                                send();
                            }
                            else {
                                save();
                            }
                            
                        }
                        return;
                }
            });
        </script>
    </body>
</html>