<!DOCTYPE html>
<html>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="758290075776-i5a0a6680n51lo76p8qfignd0s5148jd.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <body>
        <h1><%= roomName %></h1>
        <p id="roomID" style="display: none;"><%= roomID %></p>
        <p id="userID" style="display: none;"><%= userID %></p>
        <p id="fullName" style="display: none;"><%= fullName %></p>
        <p id="email" style="display: none;"><%= email %></p>
        <p id="appLink" style="display: none;"><%= appLink %></p>
        <p id="hasPassword" style="display: none;"><%= hasPassword %></p>
        <p id="alive" style="display: none;"><%= alive %></p>
        <div id="gLogin" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        <p id="invalid" style="display: none;">Invalid URL. Please rejoin room from rooms page. Redirecting in 5 seconds.</p>
        <div id="onLoginCon" style="display: none;">
            <input type="password" id="passwordbox" placeholder="Enter room password"/>
            <button id="validateBtn" type="button" onclick="validate()">Validate</button>
            <p id="destroyed" style="display: none;">This room has been removed. Redirecting to rooms page in 5 seconds.</p>
            <textarea id="chatbox" rows="4" cols="50" readonly></textarea>
            <br />
            <br />
            <input id="messagebox" onfocusout="notTyping()" onfocusin="typing()" placeholder="Type your message..."/>
            <button id="sendBtn" type="button" onclick="send()">Send</button>
            <br />
            <br />
            <p id="participantsList"></p>
            <button id="renameBtn" type="button" onclick="showRenameCon()">Rename</button>
            <button type="button" onclick="goback()">Go Back</button>
            <div id="renameCon" style="display: none;">
                <input id="nickname" placeholder="Enter Nickname"/>
                <button id="saveBtn" type="button" onclick="save()">Save</button>
                <button id="cancelBtn" type="button" onclick="hideRenameCon()">Cancel</button>
        </div>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript">
            var roomID = document.getElementById("roomID").innerHTML;
            var userID = document.getElementById("userID").innerHTML;
            var fullName = document.getElementById("fullName").innerHTML;
            var email = document.getElementById("email").innerHTML;
            var appLink = document.getElementById("appLink").innerHTML;
            var hasPassword = document.getElementById("hasPassword").innerHTML;
            var alive = document.getElementById("alive").innerHTML;
            var socket = io.connect(appLink);

            socket.on('connect', function(data) {
                if(alive == "false") {
                    onlyShowDestroyDialogue();
                }
                else if(hasPassword == "false") {
                    join();
                }
                else {
                    $("#chatbox").hide();
                    $("#messagebox").hide();
                    $("#sendBtn").hide();
                    $("#renameBtn").hide();
                }
            });

            socket.on('destroy'+roomID, function(data) {
                onlyShowDestroyDialogue();
            });

            function onlyShowDestroyDialogue() {
                $("#chatbox").hide();
                $("#messagebox").hide();
                $("#sendBtn").hide();
                $("#passwordbox").hide();
                $("#validateBtn").hide();
                $("#participantsList").hide();
                $("#destroyed").show();
                setInterval(goback, 5000);
            }

            function join() {
                $("#chatbox").show();
                $("#messagebox").show();
                $("#sendBtn").show();
                $("#passwordbox").hide();
                $("#validateBtn").hide();
                socket.emit('join', {"fullName": fullName, "roomID": roomID, 'userID': userID, 'email': email});
                socket.on('disperse'+roomID, function(data) {
                    var messages = document.getElementById("chatbox").value + data + "\n";
                    var chatbox = document.getElementById('chatbox'); 
                    chatbox.value = messages;
                    chatbox.scrollTop = chatbox.scrollHeight; 
                    /* Audio link for notification */ 
                    if (document.hidden) {
                        var audio = new Audio("notif.mp3"); 
                        audio.volume = 0.5;
                        audio.play();
                    }
                });
                socket.on('enter'+roomID, function(data) {
                    var userIDs = Object.keys(data);
                    var userNames = "Active Users: <br />";
                    var i;
                    for(i = 0; i < userIDs.length; i++) {
                        userNames = userNames + data[userIDs[i]] + "<br />"
                    }
                    document.getElementById("participantsList").innerHTML = userNames;
                });
            }

            function send() {
                if(document.getElementById("messagebox").value != "") {
                    socket.emit('send', {"message": fullName + ": " + document.getElementById("messagebox").value, "roomID": roomID});
                    document.getElementById("messagebox").value = "";
                }
            }

            function validate() {
                socket.emit('validate',{'roomID':roomID,'password':document.getElementById("passwordbox").value, 'userID':userID});
                socket.on('connect'+userID, function(status) {
                    if(status != 'success') {
                        alert(status);
                        document.getElementById("passwordbox").value = "";
                    }
                    else {
                        join();
                    }
                });
            }

            function save() {
                fullName = document.getElementById("nickname").value;
                socket.emit('rename', {"fullName": fullName, "roomID": roomID, 'userID': userID, 'email': email});
                $("#renameCon").hide();
            }

            function typing() {
                socket.emit('rename', {"fullName": fullName + " is typing...", "roomID": roomID, 'userID': userID, 'email': email});
            }

            function notTyping() {
                socket.emit('rename', {"fullName": fullName, "roomID": roomID, 'userID': userID, 'email': email});
            }

            function showRenameCon() {
                document.getElementById("nickname").value = fullName;
                $("#renameCon").show();
            }

            function hideRenameCon() {
                $("#renameCon").hide();
            }

            function goback() {
                window.location.href=appLink;
            }

            function onSignIn(googleUser) {
                // Useful data for your client-side scripts:
                var profile = googleUser.getBasicProfile();
                $("#gLogin").hide();
                if(profile.getEmail() != email) {
                    socket.emit('leave', {'roomID':roomID, 'userID': userID});
                    onlyShowDestroyDialogue();
                    $("#invalid").show();
                }
                else {
                    $("#onLoginCon").show();
                }
            }

            window.addEventListener("beforeunload", function (e) {
                if($("#chatbox").is(':visible')) {
                    socket.emit('leave', {'roomID':roomID, 'userID': userID});
                }
            });

            $(window).keydown(function(e) {
                switch (e.keyCode) {
                    case 13:
                        send();
                        return;
                }
            });
        </script>
    </body>
</html>